langchain==0.0.208 
openai==0.27.8
ipython==7.31.1
newspaper3k==0.2.8
lxml_html_clean
python-dotenv 
tiktoken
deeplake==3.6.3
pyvis==0.3.2
sentence_transformers===2.2.2
elevenlabs==0.2.18
streamlit==1.23.1
beautifulsoup4==4.11.2
audio-recorder-streamlit==0.0.8
streamlit-chat==0.0.2.2
cohere
pypdf
unstructured 
selenium
scikit-learn
yt_dlp
openai-whisper

layers/